flujo_n8n_ecosistema_ia.json.json
{
  "name": "Agente + airtable",
  "nodes": [
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -176,
        -96
      ],
      "id": "14bda0de-8d62-4244-86a7-3033620e4f1c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6nKC2FSMuuAwvOWO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1Tpd9bKUijQqDhlCYx5A1w376U0M6li-BIN8kAnP8sNQ/"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        128,
        -112
      ],
      "id": "aa6331c2-ab61-414e-87ff-9997a20532d9",
      "name": "RAG - documento interno",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "dMWCFrCgVMDJm0vk",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.to.value[0].address }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -16,
        -96
      ],
      "id": "47133e24-266a-431d-b01b-06c539d8cbd1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nombre\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Nombre del remitente extraído del email. null si no se puede determinar.\"\n    },\n    \"email\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Email del remitente. null si no se puede determinar.\"\n    },\n    \"empresa\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Nombre de la empresa del lead. null si no se menciona.\"\n    },\n    \"cargo\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Cargo o rol del remitente. null si no se menciona.\"\n    },\n    \"clasificacion\": {\n      \"type\": \"string\",\n      \"enum\": [\"VIP\", \"Estándar\", \"Descartar\"],\n      \"description\": \"Categoría del lead. Debe coincidir exactamente con las opciones del Single Select en Airtable.\"\n    },\n    \"confianza\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Nivel de confianza de la clasificación, entre 0 y 1.\"\n    },\n    \"motivo\": {\n      \"type\": \"string\",\n      \"description\": \"Una frase breve que justifica la clasificación asignada.\"\n    },\n    \"requiere_revision_humana\": {\n      \"type\": \"boolean\",\n      \"description\": \"true si hay señales de alarma que fuerzan revisión humana sin importar la categoría.\"\n    },\n    \"respuesta_sugerida\": {\n      \"type\": \"string\",\n      \"description\": \"Borrador de respuesta en voseo cordial. String vacío para leads Descartar.\"\n    }\n  },\n  \"required\": [\n    \"nombre\",\n    \"email\",\n    \"empresa\",\n    \"cargo\",\n    \"clasificacion\",\n    \"confianza\",\n    \"motivo\",\n    \"requiere_revision_humana\",\n    \"respuesta_sugerida\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        -112
      ],
      "id": "f2981726-d781-4d21-a26b-7c691866b863",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Sos un asistente de IA de MKT.COM.AR especializado en clasificar leads comerciales recibidos por email.\n\nTu tarea es analizar el contenido del correo y devolver SIEMPRE un único objeto JSON válido.\n\nIMPORTANTE:\n- No agregues texto antes ni después del JSON.\n- No expliques tu razonamiento.\n- No uses markdown.\n- Nunca inventes información.\n- Si un dato no está presente, devolvelo como null.\n\nClasificá el lead en una sola categoría:\n\n• VIP\nAsignar cuando se cumplan al menos dos de estas condiciones:\n- Empresa mediana o grande (200+ empleados o varias sucursales).\n- El contacto ocupa un cargo decisor (Director, Gerente, Dueño, CEO, VP, etc.).\n- Menciona presupuesto superior a USD 10.000.\n- Solicita una propuesta, reunión o demo con urgencia.\n- Utiliza un email corporativo.\n\n• Estándar\nConsulta comercial genuina sin señales suficientes para ser VIP.\n\n• Descartar\nSpam, newsletters, ofertas comerciales, búsquedas laborales o mensajes sin relación con los servicios de MKT.COM.AR.\n\nSi existen señales mezcladas, elegí siempre la categoría de mayor prioridad.\n\nSi detectás cualquiera de estas situaciones:\n- reclamos\n- asuntos legales\n- prensa\n- datos sensibles\n- pedidos de descuentos importantes\n- lenguaje agresivo\n\nestablecé:\n\n\"requiere_revision_humana\": true\n\nGenerá una respuesta_sugerida únicamente para las categorías VIP y Estándar.\n\nLa respuesta debe:\n- utilizar voseo argentino.\n- ser cordial y profesional.\n- agradecer el contacto.\n- responder específicamente a la consulta.\n- invitar a continuar la conversación.\n- finalizar EXACTAMENTE con:\n\nSaludos,\nEquipo MKT.COM.AR\n\nSi la categoría es \"Descartar\", respuesta_sugerida debe ser un string vacío.\n\nEl campo confianza debe ser un número entre 0 y 1.\n\nDevolvé únicamente este JSON:\n\n{\n  \"nombre\": string | null,\n  \"email\": string | null,\n  \"empresa\": string | null,\n  \"cargo\": string | null,\n  \"clasificacion\": \"VIP\" | \"Estándar\" | \"Descartar\",\n  \"confianza\": number,\n  \"motivo\": string,\n  \"requiere_revision_humana\": boolean,\n  \"respuesta_sugerida\": string\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -400
      ],
      "id": "119812a2-04cd-4640-9d44-e4c97909a141",
      "name": "AI Lead Classifier",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e11f9c52-4612-44fc-b87a-0d3a165341ad",
              "leftValue": "={{ $json.output.confianza }}",
              "rightValue": 0.2,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "e46f9288-616c-4c5e-952e-02661c507f07",
              "leftValue": "={{ $json.output.motivo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        -416
      ],
      "id": "e5a2622f-07a4-4e20-821f-670ebf6811f1",
      "name": "¿Lead válido?"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "tinchodeep@gmail.com",
        "subject": "Necesitamos aprobar Lead",
        "message": "=🤖 Revisión de propuesta generada por IA\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n👤 Cliente: {{ $json.output.nombre }}\n\n🏢 Empresa: {{ $json.output.empresa }}\n\n📧 Email: {{ $('Nuevo Email (Gmail)').item.json.from.value[0].address }}\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n📝 Consulta recibida\n\n{{ $json.output.motivo }}\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n🤖 Análisis realizado por IA\n\n🏷️ Clasificación: {{ $json.output.clasificacion }}\n\n📊 Nivel de confianza: {{ $json.output.confianza }}\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n💬 Respuesta sugerida por la IA\n\n{{ $json.output.respuesta_sugerida }}\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nSi aprobás este lead, la respuesta propuesta podrá enviarse al cliente y el registro quedará actualizado en el sistema.\n\n¿Deseás aprobar esta propuesta?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Aceptar Lead",
            "disapproveLabel": "Descartar Lead"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        688,
        -432
      ],
      "id": "42ef13f0-2d0c-4586-ac6b-6ad1ee635c73",
      "name": "Human Approval (Gmail)",
      "webhookId": "a1aaa3eb-4f37-42cd-af5e-b67c9fddfc73",
      "credentials": {
        "gmailOAuth2": {
          "id": "6OLKhqY1S8WzrH1Y",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b6260b1-6fe2-4d26-8382-fe391150620e",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        -432
      ],
      "id": "3ac693b2-173e-4a47-adc5-6294c5677a3b",
      "name": "¿Lead aprobado?"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appksuKFiTFJWOIn7/tblE26n34U2kjKBoo/viwF7l0Ipm3owAUIl?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appksuKFiTFJWOIn7/tblE26n34U2kjKBoo/viwF7l0Ipm3owAUIl?blocks=hide",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('AI Lead Classifier').item.json.output.nombre }}",
            "Email": "={{ $('Nuevo Email (Gmail)').item.json.from.value[0].address }}",
            "Mensaje": "={{ $('AI Lead Classifier').item.json.output.motivo }}",
            "Estado": "Aprobado por Humano"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Aprobado por Humano",
                  "value": "Aprobado por Humano"
                },
                {
                  "name": "Propuesta Enviada",
                  "value": "Propuesta Enviada"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1088,
        -576
      ],
      "id": "0cbe6795-d134-4b0e-92d6-b24acfa5a27c",
      "name": "Airtable - Lead Aprobado",
      "credentials": {
        "airtableTokenApi": {
          "id": "WLmq4JIrn9eAooWL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appksuKFiTFJWOIn7/tblE26n34U2kjKBoo/viwF7l0Ipm3owAUIl?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appksuKFiTFJWOIn7/tblE26n34U2kjKBoo/viwF7l0Ipm3owAUIl?blocks=hide",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('AI Lead Classifier').item.json.output.nombre }}",
            "Email": "={{ $('Nuevo Email (Gmail)').item.json.from.value[0].address }}",
            "Mensaje": "={{ $('AI Lead Classifier').item.json.output.motivo }}",
            "Estado": "Rechazado"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Aprobado por Humano",
                  "value": "Aprobado por Humano"
                },
                {
                  "name": "Propuesta Enviada",
                  "value": "Propuesta Enviada"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1104,
        -240
      ],
      "id": "bbf1fd3c-28ac-4067-91de-891d08db4c31",
      "name": "Airtable - Lead Rechazado",
      "credentials": {
        "airtableTokenApi": {
          "id": "WLmq4JIrn9eAooWL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appksuKFiTFJWOIn7/tblE26n34U2kjKBoo/viwF7l0Ipm3owAUIl?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appksuKFiTFJWOIn7/tblE26n34U2kjKBoo/viwF7l0Ipm3owAUIl?blocks=hide",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Nuevo Email (Gmail)').item.json.from.value[0].name }}",
            "Email": "={{ $('Nuevo Email (Gmail)').item.json.from.value[0].address }}",
            "Mensaje": "Error al procesar con IA",
            "Estado": "Error IA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Aprobado por Humano",
                  "value": "Aprobado por Humano"
                },
                {
                  "name": "Propuesta Enviada",
                  "value": "Propuesta Enviada"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Error IA",
                  "value": "Error IA"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        544,
        -224
      ],
      "id": "4dbf761f-427a-4bc3-8da8-62eb244a5737",
      "name": "Airtable - Log Error",
      "credentials": {
        "airtableTokenApi": {
          "id": "WLmq4JIrn9eAooWL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -288,
        -400
      ],
      "id": "3d54825f-ea68-46ac-ba91-3be69edb22c1",
      "name": "Nuevo Email (Gmail)",
      "credentials": {
        "gmailOAuth2": {
          "id": "6OLKhqY1S8WzrH1Y",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG - documento interno": {
      "ai_tool": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Classifier": {
      "main": [
        [
          {
            "node": "¿Lead válido?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Lead válido?": {
      "main": [
        [
          {
            "node": "Human Approval (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Approval (Gmail)": {
      "main": [
        [
          {
            "node": "¿Lead aprobado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Lead aprobado?": {
      "main": [
        [
          {
            "node": "Airtable - Lead Aprobado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Lead Rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuevo Email (Gmail)": {
      "main": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cae7e74c-e837-4272-a579-3a5a77d1d829",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ef9bc3090ebc0d2201abfac62b6d79fe5e680291fb2d58a5670209a84f27d00"
  },
  "nodeGroups": [],
  "id": "7XdSojBDjF6QNmMM",
  "tags": []
}